@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  margin: auto;
}

.app.dark {
  background-color: #070f2b;
  color: white;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .container {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }
}
